<footer class="footer">
  <p>Content copyright of respective contributors to the <a href="http://www.github.com/apiman/apiman">Apiman</a> project</p>
  <p>This page was built using the <a href="https://antora.org/" target="_blank">Antora</a> documentation site generator. We are extremely grateful to the Antora team for creating this wonderful project!</p>
</footer>

{{#if env.ALGOLIA_API_KEY}}
<link rel="stylesheet" href="{{uiRootPath}}/css/vendor/site-extra.css">
<script src="{{uiRootPath}}/js/vendor/docsearch.min.js"></script>
<script>
var search = docsearch({
  {{#if env.ALGOLIA_APPLICATION_ID}}
  appId: '{{env.ALGOLIA_APPLICATION_ID}}',
  {{/if}}
  apiKey: '{{env.ALGOLIA_API_KEY}}',
  indexName: '{{env.ALGOLIA_INDEX_NAME}}',
  inputSelector: '#search-input',
  autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
  algoliaOptions: { hitsPerPage: 10 }
})
</script>
{{#if page.home}}
<script>
window.addEventListener('load', function focusSearchInput () {
  window.removeEventListener('load', focusSearchInput)
  document.querySelector('#search-input').focus()
})
</script>
{{/if}}
{{/if}}
